<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <title>Angular exercise</title>
</head>
<body ng-app="todo">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div ng-controller="homeController as home">
          <h1>
            <span ng-show="home.todos.length != 0">
              {{home.message}} {{home.todos.length}}
            </span>
          </h1>
          <h1 ng-show="home.todos.length == 0">
            Go play
          </h1>
          <h3 ng-repeat="todo in home.todos">
            <span ng-class "todo.checked ? 'text-muted': 'h3'">
              <span ng-click="todo.checked = !todo.checked">
                {{todo.name}}
              </span>
            </span>
          </h3>

        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="default.js"></script>
</body>
</html>
